/* * {
    margin: 0;
    padding: 0;
} */

table {
    width: 80%;
    min-width: 500px;
    margin: auto;
        
    border-collapse: collapse;
    text-align: start;
    table-layout: fixed; 
}

th, td {
    text-align: start;
    padding-left: 10px;
    border: 1px solid black;
}